{{ "<!-- CONTACT -->" | safeHTML }}
<section id="contact" class="bg-coloured">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <img src="img/animations/flowers2.gif" data-bottom-top="@src:img/animations/flowers2.gif" height="150" alt="" class="skrollable skrollable-after mb-3r">

                {{ with .Site.Params.contact.headline }}
                    <h2 class="section-heading">{{ . }}</h2>
                {{ end }}
                {{ if and .Site.Params.contact.headline .Site.Params.contact.description }}
                    <hr class="primary">
                {{ end }}
                {{ with .Site.Params.contact.description }}
                    <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>

            {{ if .Site.Params.contact.phone }}
                <div class="
                {{ if .Site.Params.contact.email }}
                    col-lg-4
                {{ else }}
                    col-lg-8
                {{ end }}
                col-lg-offset-2 text-center">
                    <i class="fa fa-phone fa-3x wow bounceIn"></i>
                    <p>{{ .Site.Params.contact.phone }}</p>
                </div>
            {{ end }}

            {{ if .Site.Params.contact.email }}
                <div class="
                {{ if .Site.Params.contact.phone }}
                    col-lg-4
                {{ else }}
                    col-lg-8 col-lg-offset-2
                {{ end }}
                 text-center">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p><a href="mailto:{{ .Site.Params.contact.email }}">{{ .Site.Params.contact.email }}</a></p>
                </div>
            {{ end }}
        </div>
    </div>

    <div class="container" style="margin-top: 40px;">
        <div class="row">
            {{ range .Site.Params.contact.list }}
            <div class="col-lg-3 col-sm-6 col-xs-12 text-center">
                <div class="service-box">
                    <i class="fa fa-3x {{ .icon }} wow bounceIn text-dark"></i>

                    <h4 style="padding-top: 20px;">{{ .title }}</h4>

                    {{ with .date }}
                        <p class="text-muted" style="padding-bottom: 4px;">{{ . }}</p>
                    {{ end }}

                    {{ with .time }}
                        <p class="text-muted" style="padding-bottom: 15px;">{{ . }}</p>
                    {{ end }}

                    {{ with .description }}
                        <p class="text-muted contact-desc">{{ . }}</p>
                    {{ end }}
                    
                    {{ with .gmaps }}
                        <div class="contact-location">
                            <i class="fa fa-location-dot wow bounceIn text-dark"></i>&nbsp; <a href="{{ . }}" target="_blank">See Location</a>
                        </div>
                    {{ end }}

                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
