{{ if .Site.Params.gallery.visible }}
<section id="gallery">

    {{ with .Site.Params.gallery }}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{ with .animation }}
                    <img src="{{ . }}" data-bottom-top="@src:{{ . }}" height="150" alt="" class="skrollable skrollable-after mb-3r">
                {{ end }}
                <h2 class="section-heading mb-3r">{{ .headline }}</h2>
                <!-- <hr class="primary"> -->
            </div>
        </div>
    </div>
    {{ end }}

    <div class="gallery-wrapper">
        <div class="gallery-container">
            {{ $folderPath := .Site.Params.gallery.folderPath }}
            {{ $imagePath := .Site.Params.gallery.imagePath }}
            {{ $files := readDir $folderPath }}
            {{ range $files }}
                <img src="{{ $imagePath }}{{ .Name }}" />
            {{ end }}
        </div>
    </div>

</section>
{{ end }}